<app-head></app-head>

<section>
    <div class="container">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
                <section>
                    <div class="row">
                        <div *ngFor="let person of cardService.listPerson" class="col-lg-3 col-md-4 col-sm-6 p-1">
                            <div class="card " id="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{person.lastName + ' ' + person.firstName}}</h5>
                                    <p class="card-text">{{(person.notes !== null)?person.notes.substring(0,80) + '...':person.notes}}</p>
                                </div>
                                <div class="card-footer">
                                    <a class="btn btn-primary" [routerLink]="['/card-edit', this.person.id]" >Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>
</section>
<p *ngFor="let person of cardService.listPerson">{{person.firstName}}</p>
