<app-head></app-head>

<section>
    <div class="container">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
                <section>
                    <div class="card" id="card-person">
                        <div class="card-header">
                            {{this.cardService.person?.firstName + ' ' + this.cardService.person?.lastName}}
                        </div>
                        <div class="card-body" >
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Tel number</th>
                                    <th scope="col">type</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody *ngIf="this.cardService.phoneList.length !== 0">
                                <tr *ngFor="let num of this.cardService.phoneList">
                                    <th scope="row">{{num.number}}</th>
                                    <td>{{num.type}}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-secondary" [routerLink]="['/']">
                                Back to Menu
                            </button>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>
</section>
